body{
    text-align: center;
    font-size: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("https://www.wallpapertip.com/wmimgs/53-537084_empty-wooden-table-background-hd.jpg");
    background-size: cover;
    font-weight: bold;
    /* color: white; */
    /* background-repeat: no-repeat; */
}
h1{
    font-size: 2.5em;
    color: goldenrod;

}
#mess-el{
    font-style: italic;
    font-size: 1.8em;
}
button{
    width: 350px;
    color: rgba(209, 145, 63, 0.5);
    font-weight: bolder;
    font-size: 1.5em;
    /* box-sizing: border-box; */
    background-color: rgb(12, 223, 19);
    /* background-color: goldenrod; */
    border-radius: 10px;
    border: none;
    text-align: center;
    padding-bottom: 8px;
    margin: 4px;
}
button:active{
    scale: .92;
}